.env
.ignore/
*.ignore
secrets/**
!secrets/**/.gitkeep
# exclude ssl certs
config/ssl/*.key
config/ssl/*.crt
config/ssl/*.pem
config/ssl/*.cer
config/ssl/*.der
config/ssl/*.p7b
config/ssl/*.p7c
config/ssl/*.pfx
config/ssl/*.p12
# exclude appdata
config/filebrowser/database.db
# catch sqlite db aux files, e.g. wal)
config/filebrowser/database.db*
config/kuma/kuma.db
config/kuma/kuma.db*
config/kuma/error.log
# exclude data dir, include samples
data/**
!data/**/
!data/**/.gitkeep
!data/vector/sample_data.gpkg
!data/vector/ne_10m_admin_0_countries.cpg
!data/vector/ne_10m_admin_0_countries.dbf
!data/vector/ne_10m_admin_0_countries.prj
!data/vector/ne_10m_admin_0_countries.README.html
!data/vector/ne_10m_admin_0_countries.shp
!data/vector/ne_10m_admin_0_countries.shx
!data/vector/ne_10m_admin_0_countries.VERSION.txt
!data/vector/ne_10m_airports.README.html
!data/vector/ne_10m_airports.VERSION.txt
!data/vector/ne_10m_populated_places_simple.geojson
!data/vector/ne_10m_populated_places_simple.README.html
!data/vector/ne_10m_populated_places_simple.VERSION.txt
!data/vector/ne_10m_ports.README.html
!data/vector/ne_10m_ports.VERSION.txt
!data/vector/ne_10m_urban_areas.README.html
!data/vector/ne_10m_urban_areas.VERSION.txt
