.env
.ignore/
*.ignore
secrets/**
!secrets/**/.gitkeep
# exclude ssl certs
config/ssl/*.key
config/ssl/*.crt
config/ssl/*.pem
config/ssl/*.cer
config/ssl/*.der
config/ssl/*.p7b
config/ssl/*.p7c
config/ssl/*.pfx
config/ssl/*.p12
# exclude appdata
config/filebrowser/database.db
# catch sqlite db aux files, e.g. wal)
config/filebrowser/database.db*
config/kuma/kuma.db
config/kuma/kuma.db*
config/kuma/error.log
# exclude data dir, include samples
data/**
!data/**/
!data/**/.gitkeep
!data/vector/README.md
!data/vector/sample_countries.dbf
!data/vector/sample_countries.prj
!data/vector/sample_countries.shp
!data/vector/sample_countries.shx
!data/vector/sample_gpkg.gpkg
!data/vector/sample_populated_places_simple.geojson
